{#
    SceneGames
    Copyright (C) 2018  GoodOldDownloads

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'main.twig' %}

{% set currentPage = 'admin' %}

{% block title %}Admin{% endblock title %}

{% block content %}
<div class="container nomargin">
    <a href="/logout" class="btn hide-from-sm float-right">Logout</a>
    <h1>Admin</h1>
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    <h2>You:</h2>
    <p><b>Name:</b> {{ user.username }} | <b>Class:</b> {{ user.class|title }} | <b>API Key:</b> <code>{{ user.apikey }}</code></p>
    <a href="/admin/cache/" class="btn btn-big">Cache</a> <a href="/admin/games/" class="btn btn-big">Games</a>
    <h2>Logs:</h2>
    <table id="sitelog">
        <thead>
            <tr class="text-left">
                <th>User</th>
                <th>Action</th>
                <th>Message</th>
                <th>Key</th>
                <th>IP</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr class="{{ log.result|lower }}">
                <td>{% if log.user_id %}<span title="{{ log.user_id }}">{{ log.username }}</span>{% else %}none{% endif %}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.message }}</td>
                <td><code>{% if log.key %}{{ log.key }}{% else %}none{% endif %}</code></td>
                <td>{{ log.ip }}</td>
                <td><span data-moment="epoch" data-format="fromnow" data-time="{{ log.date }}"></span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Notice:</h2>
    <form action="/admin" method="POST">
        <div class="form-input">
            <textarea name="notice_text" rows="5">{{ notice }}</textarea>
        </div>
        <input class="btn" type="submit" name="update_notice" value="Update Notice">
    </form>
    <h2>Other:</h2>
    <p>Disable voting if game has Drive links.</p>
    <form action="/admin" method="POST">
        <select name="disable_drive_voting_value">
            <option value="0" {{ (disable_drive_voting == false) ? 'selected' : '' }}>Allow Voting</option>
            <option value="1" {{ (disable_drive_voting == true) ? 'selected' : '' }}>Disable Voting</option>
        </select>
        <input type="submit" name="disable_drive_voting" value="{{ 'Save'|trans }}">
    </form>
    <hr>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}